body{
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px;
}
div{
    margin: 30px 0;
}
.emoji{
    font-size: 100px;
    
}
.intro-question{
    padding-bottom: 1rem;
}

h1 {
    color: #a84667;
}

h2{
    color: #C05176;
    padding: 10px;

}

h3{
    color: #C05176;
}
p{
    color: #85314d;;
    padding: 10px;
}

a{
    background-color: #C05176;
    text-decoration: none;
    color: honeydew;
    padding: 5px;
    border-radius: 10px;
}
img{
    padding: 10px;
}